@font-face {
  font-family: "ABC-Monument-Grotesk-Medium";
  src: url("../assets/fonts/ABCMonumentGrotesk-Medium.woff2") format("woff2"),
    url("ABCMonumentGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC-Monument-Grotesk-Heavy";
  src: url("../assets/fonts/ABCMonumentGrotesk-Heavy.woff2") format("woff2"),
    url("ABCMonumentGrotesk-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC-Monument-Grotesk-RegularItalic";
  src: url("../assets/fonts/ABCMonumentGrotesk-RegularItalic.woff2")
      format("woff2"),
    url("ABCMonumentGrotesk-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABC-Monument-Grotesk-MediumItalic";
  src: url("../assets/fonts/ABCMonumentGrotesk-MediumItalic.woff2")
      format("woff2"),
    url("ABCMonumentGrotesk-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
