.progress-bar {
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  position: sticky;
  top: 0;
  height: 20px;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.menu span {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid;
  border-right: 2px solid;
}

.menu span:hover {
  text-decoration: underline;
}

.menu li {
  margin: 0 10px;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 10;
}

.sub-container-contents {
  display: flex;
  height: 80vh;
}

.middle-column {
  width: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rainbow-zipper {
  /* width: 100%; */
  object-fit: cover;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 40px;
  text-align: left;
}

.section {
  flex-direction: column;
  border-top: 2px solid black;
  margin-bottom: 20px;
  height: 100%;
  overflow: scroll;
  display: none;
}

#section-0,
#section-1 {
  display: block;
}

/* 
.section::-webkit-scrollbar {
  width: 0.4em;
  background-color: #626262;
}

.section::-webkit-scrollbar-thumb {
  background-color: #000000;
  transform: translate(70px, 70px);
}

.section::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
} */

li:not(:last-child) {
  margin-bottom: -4px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 76px;
}

#enter,
#home,
#previous-button,
#next-button {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
}

#enter {
  right: 40px;
}

#home {
  left: 40px;
}

#next-button {
  right: 40px;
}

#previous-button {
  right: 85px;
}

button {
  border-radius: 20px;
}
